@model IEnumerable<DPHGallery.ORM.Entities.ImageEntity>

<div class="row">
    @foreach (var image in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Action("GetImage", "Gallery", new { param = image.ThumbnailPath })" alt="@image.Description">
                <div class="caption">
                    <p>Autor: @image.Owner.UserName</p>
                    <p>MD5: @image.ImageHash</p>
                    <p>DPH: @image.DPH</p>
                    <p>
                        <a href="@Url.Action("GetImage", "Gallery", new { param = image.ImagePath })" class="btn btn-primary" role="button">Show</a>
                        <a href="@Url.Action("FindSimilar", "Gallery", new { param = image.Id })" class="btn btn-default" role="button">Find similar</a>
                        <a href="#" class="btn btn-danger" role="button">Usuń</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>